<app-field [name]="name" [label]="label" [error]="getErrorMessage()">
  <textarea
    [id]="name"
    [name]="name"
    [formControl]="control"
    (blur)="hasBlurred = true"
    [ngClass]="{
      'transition-colors duration-500': true,
      'block w-full py-3 px-5 placeholder-gray-400 text-gray-700': true,
      'focus:outline-none focus:ring focus:shadow-sm': true,
      'border border-lg rounded-lg': true,
      'ring-red-200 border-red-500': this.canDisplayErrors() && getErrorMessage(),
      'ring-blue-200 focus:border-blue-500': !this.canDisplayErrors()
    }"
  ></textarea>
</app-field>
