<div class="w-full flex-grow grid grid-cols-3 gap-8">
  <div class="flex flex-col flex-grow h-64 border-2 border-black rounded-lg overflow-hidden">
    <app-without-contents></app-without-contents>
    <app-with-contents></app-with-contents>
  </div>
  <div class="flex flex-col flex-grow h-64 border-2 border-black rounded-lg overflow-hidden">
    <app-without-contents></app-without-contents>
    <app-without-contents></app-without-contents>
  </div>
  <div class="flex flex-col flex-grow h-64 border-2 border-black rounded-lg overflow-hidden">
    <app-with-contents></app-with-contents>
    <app-with-contents></app-with-contents>
  </div>

</div>
